:root {
  --backColor:#d2dbd6;
  --tint1:#e11f46;
  --tint2:#040730;
  --tint3:#8fcfd6;
  --numMenuItems:9;
  --pads:7px;
}

body {
  margin:0px;
}
/*Strip the ul of padding and list styling*/
nav {
   display: grid;
   padding: 15px;
   width:100%;
   background-color: var(--tint2)
}
nav ul {
   list-style-type:none;
   padding:0;
   margin:0;
}

/*Create a horizontal list with spacing*/
nav li {
   display:inline-block;
   margin:auto;
   width:calc(100%/var(--numMenuItems));
   text-align: center;
   color: white;
}

/*Hover state for top level links*/
nav li:hover a {
  text-decoration-color: white;
}
/*****************Main page***************/
section {
  border-style: solid;
  border-width: 1px;
  border-color: var(--tint3);
  margin:auto;
  margin-top:20px;
  width:66%;
}

h1.title {
  width: calc(100%-2*var(--pads));
  padding: var(--pads);
  background-color: var(--tint2);
  color:white;
  margin:0px;
  text-align: center;
}
.page {
  width: 95%;
  margin:auto;
  margin-top:15px;
}
/*******************Schedule Page*************/
.hwGrid {
  display:grid;
  grid-template-columns: 1fr 1fr 6fr 3fr;
}
.dayGrid {
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.dayEl {
  padding-top:10px;
}
tr, th, td {
  border: 1px;
  text-align: center;
}

/********************* Wiki Page********************/
.question, .reply {
  background-color: var(--tint3);
  margin: auto;
  width: 66%;
  padding: 20px;
  border-radius: 40px;
}
